@import "../../../../node_modules/primereact/resources/primereact.min.css";
@import "../../../../node_modules/primeicons/primeicons.css";
* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1 !important;
}

.p-none {
    padding: none !important;
}

.p66 {
    padding: 1rem 13rem;
}

.p67 {
    padding: 1rem 14rem;
}

.btn-transparent {
    background: none !important;
}

.border-none {
    border: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.b-shadow {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .05);
}

.p-growl.p-growl-topright{
    left: 43% !important;
    top: 10%;
    z-index: 9000 !important;
}

.p-growl-message-success {
    background: rgb(102, 255, 153, .7) !important;
    border: 1px solid darkgreen;
    border-radius: 6px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .05);
}

.p-growl-message-warn {
    background: #f8d7da !important;
}
.p-growl-icon-close {
    display: none !important;
  }