* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1 !important;
}

.p-none {
    padding: none !important;
}

.p66 {
    padding: 1rem 13rem;
}

.p67 {
    padding: 1rem 14rem;
}

.btn-transparent {
    background: none !important;
}

.border-none {
    border: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.b-shadow{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
}